# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

###### Objectives:
* List some of popular languages used in data science
* List some of the commonly used libraries used by Data Scientists
* Writing tabular data in markdown cells
* Solving arrithmetic expressions in code cells

## Author
Hussein Qasem

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Tensorflow
4. SciPy
5. Scikit-learn

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Rstudio|
|Hadoop|
|Power BI|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335